.game-box, .game-box:hover {
  display: inline-block;
  width: 75px;
  border: 1px black solid;
  color: black;
  text-decoration:none;
  cursor:default;
}

.game-box:hover {
  background-color:lightgrey;
  cursor: pointer;
}

.navbar {
  margin: auto 0;
  padding-bottom: 20px;
}

