.body {
  box-sizing: border-box;
}

.game {
  position: absolute;
}

.left-column {
  display: inline-block;
  border: 5px solid whitesmoke;
  vertical-align: top;
  display:inline-block;
  height: 830px;
  width: 500px;
}

.middle-column {
  position: relative;
  display: inline-block;
  width: 500px;
  height:830px;
  border: 5px solid whitesmoke;
  vertical-align: top
}

.right-column {
  display: inline-block;
  border: 5px solid whitesmoke;
  width: 500px;
  height: 830px;
  vertical-align: top
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.lightgrey {
  background-color: whitesmoke;
}

.medgrey {
  background-color:lightgrey;
}

.box {
  display: inline-block;
  border: 1px solid grey;
  text-align: center;
  width: 35px;
}

th, td {
  width: 30px;
  text-align: center;
}

th:first-child, td:first-child {
  width: 150px;
  text-align: left;
}

.pitch-info {
  width: 200px;
  text-align: left;
}

.atbat-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 650px;
  width: 420px;
  border: 2px solid lightgrey;
  background-color: whitesmoke;
}

.atbat {
  width:400px;
  vertical-align: top;
  padding: 20px;
  margin:0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: whitesmoke;
}

.hidden {
  display: none;
}

.current-atbat {
  margin: 25px;
}

.current-atbat-window{
  width: 219px;
  margin: 0 auto;
  height: 300px;
  background-color: whitesmoke;
  overflow-y: scroll;
  overflow-x:hidden;
  border: lightgrey solid 2px;
}

.current-atbat-details {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}